<a href="https://colab.research.google.com/github/rosihirales/IO-LITI/blob/main/Copia_de_Funciones_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **¿Qué son las funciones en Python?**

En Python, las funciones son bloques de código reutilizables que realizan una tarea específica. Permiten dividir un programa en partes más pequeñas y manejables, lo que hace que el código sea más fácil de leer, entender y mantener.

# Creación de una función

Para crear una función en Python, se utiliza la palabra reservada def, seguida del nombre de la función, paréntesis y dos puntos : El código de la función se escribe debajo, indentado ( hacer espacios hacia la derecha para mover una línea de código).

Por ejemplo, aquí está una función simple que imprime un saludo:

In [ ]:
def saludar():
   print("¡Hola, bienvenido!")

En este ejemplo, saludar es el nombre de la función. Cuando se llama a esta función, se ejecutará el código que hay dentro de ella, en este caso, se imprimirá ¡Hola, bienvenido!.

# Llamando a una función

Para llamar a una función, simplemente escriba su nombre, seguido de paréntesis ().

Continuando con el ejemplo anterior, si queremos llamar a la función saludar, escribiríamos lo siguiente:

Esto imprimirá ¡Hola, bienvenido! en la consola.

# **Funciones más comunes en Python**

En Python, hay muchas funciones integradas (también conocidas como funciones predefinidas) que se pueden usar directamente sin necesidad de crearlas. Aquí están algunas de las funciones más comunes en Python:

    1. print(): Esta función se utiliza para imprimir en la consola o en la salida estándar de la aplicación. Se utiliza comúnmente para imprimir mensajes o resultados.

    2. input(): Esta función se utiliza para recibir una entrada del usuario en la consola. El valor ingresado se devuelve como una cadena de texto.

    3. len(): Esta función se utiliza para obtener la longitud de una lista, cadena de texto, tupla o cualquier otro objeto iterable.

    4. range(): Esta función se utiliza para generar una secuencia de números en un rango específico.

    5. type(): Esta función se utiliza para obtener el tipo de un objeto.

    6. int(), float(), str(): Estas funciones se utilizan para convertir un objeto a un entero, punto flotante o cadena de texto, respectivamente.

    7. max(), min(): Estas funciones se utilizan para obtener el valor máximo o mínimo de una lista o un objeto iterable.

    8. sum(): Esta función se utiliza para obtener la suma de los elementos de una lista o un objeto iterable

    9. sorted(): Esta función se utiliza para ordenar una lista en orden ascendente
    
    10. zip(): Esta función se utiliza para combinar dos o más listas en una lista de tuplas.

# Ejemplo de códigos para cada función

In [ ]:
#'print()':
print("¡Hola, mundo!")

¡Hola, mundo!

In [ ]:
#'impunt()':
nombre = input("Por favor ingrese su nombre: ")
print(f"Hola, {nombre}!")

Por favor ingrese su nombre: Rosa
Hola, Rosa!

In [ ]:
#'len()':
lista = [1, 2, 3, 4, 5]
longitud = len(lista)
print(f"La longitud de la lista es {longitud}")
#Este código creará una lista de números, la asignará a la variable lista, y luego utilizará la función len() para obtener su longitud. El resultado se imprimirá en la consola.

La longitud de la lista es 5

In [ ]:
#'range()':
for i in range(1, 11):
    print(i)
#Este código generará una secuencia de números del 1 al 10 utilizando la función range(). Luego, imprimirá cada número en la consola.

1
2
3
4
5
6
7
8
9
10

In [ ]:
#'type()':
numero = 42
tipo = type(numero)
print(f"El tipo de variable 'numero' es {tipo}")
#Este código creará una variable numero con el valor 42, utilizará la función type() para obtener su tipo y luego imprimirá el resultado en la consola.

El tipo de variable 'numero' es <class 'int'>

In [ ]:
#int(), float(), str():
numero = "123"
entero = int(numero)
flotante = float(numero)
cadena = str(entero)
print(f"numero: {numero}, entero: {entero}, flotante: {flotante}, cadena: {cadena}")
#Este código creará una variable texto con el valor "123" como cadena de texto. Luego, utilizará las funciones int(), float() y str() para convertir texto a un entero,
#un punto flotante y una cadena de texto, respectivamente. Finalmente, imprimirá los resultados en la consola.

numero: 123, entero: 123, flotante: 123.0, cadena: 123

In [ ]:
#max(), min(), sum():
lista = [5, 3, 8, 1, 6]
maximo = max(lista)
minimo = min(lista)
suma = sum(lista)
print(f"maximo: {maximo}, minimo: {minimo}, suma: {suma}")
#ste código creará una lista de números, la asignará a la variable lista, y luego utilizará las funciones max(), min() y sum()
#para obtener su valor máximo, valor mínimo y suma, respectivamente. Los resultados se imprimirán en la consola.

maximo: 8, minimo: 1, suma: 23

In [ ]:
#'sorted()':
lista = [5, 3, 8, 1, 6]
ordenada = sorted(lista)
print(f"lista original: {lista}, lista ordenada: {ordenada}")
#Este código creará una lista de números, la asignará a la variable lista, y luego utilizará la función sorted() para ordenarla en orden ascendente.

lista original: [5, 3, 8, 1, 6], lista ordenada: [1, 3, 5, 6, 8]

In [ ]:
#zip():
nombres = ["Juan", "Maria", "Pedro"]
edades = [25, 30, 35]
lista_combinada = list(zip(nombres, edades))
print(lista_combinada)
#Este código creará dos listas, nombres y edades, y luego utilizará la función zip() para combinarlas en una lista de tuplas que contienen un nombre y una edad.

[('Juan', 25), ('Maria', 30), ('Pedro', 35)]