<a href="https://colab.research.google.com/github/rosihirales/IO-LITI/blob/main/Ejercicios_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos en Python

In [ ]:
#recordando los tipos de datos en Phyton
#Entero (int)
entero = 5
print(entero)

In [ ]:
#decimal flotante (float)
flotante = 3.14
print(flotante)

3.14

In [ ]:
#cadena
cadena = "Hola mundo!"
print(cadena)

In [ ]:
#funcion join para cadena
mis_palabras = ["Hola", "mundo", "!"]
mi_cadena = " ".join(mis_palabras)
print(mi_cadena)

Hola mundo !

In [ ]:
#Tipo de dato booleanos, los valores boooleanos representan valores de tipo ''verdadero (True) y falso (False)
type(True)
type(False)

bool

# Otros tipos de datos en Phyton

In [ ]:
#listas
mi_lista = []
mi_lista.append("Manzana")
mi_lista.append("Banana")
mi_lista.append("Cereza")
print(mi_lista)

['Manzana', 'Banana', 'Cereza']

In [ ]:
#diccionarios
mi_diccionario = {"nombre": "Juan", "edad": 30, "ciudad": "Buenos Aires"}
print(mi_diccionario)

{'nombre': 'Juan', 'edad': 30, 'ciudad': 'Buenos Aires'}